<app-padding>
  <div class="main-container">
    <h1 class="title">Personal Projects</h1>
    <mat-card>
      The following is a list of projects in various states of development. This page will be continuously updated with
      new projects as they are created. Full source code can be viewed on my GitHub.
    </mat-card>
    <mat-card>
      <mat-card-title>Angry Cloud</mat-card-title>
      <mat-card-subtitle>Python</mat-card-subtitle>
      <img mat-card-image src="../../assets/project-screenshots/angrycloud.png"/>
      <mat-card-content>
        A collision based game developed with Python and the Pygame module. Users control a racecar and attempt to dodge
        all of the raindrops. The more drops that are avoided results in a higher score and increased rate of the
        raindrops falling.
      </mat-card-content>
      <mat-card-footer>
        <a href="https://github.com/jefftoppings/angry_cloud_game">
          <button mat-button class="source-code-button">Source Code</button>
        </a>
      </mat-card-footer>
    </mat-card>
  </div>
</app-padding>
