.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    height: 80px;
  }

  mat-sidenav {
    width: 300px;
  }

  .title-container {
    width: 100%;
    text-align: center;
    .title {
      font-size: 20px;
      width: 97%;
    }
    .links-container {
      width: 97%;
      button {
        color: white;
      }
    }
  }


  .example-app-name {
    margin-left: 8px;
  }

  .sidenav-container {
    flex: 1;
  }

}
