<div class="main-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="title-container">
      <h1 class="title">Jeff Toppings</h1>
      <div class="links-container">
        <a href="mailto:jeffrey.toppings@outlook.com"><button mat-button>Email</button></a>
        <a href="https://linkedin.com/in/jeffreytoppings"><button mat-button>LinkedIn</button></a>
        <a href="https://github.com/jefftoppings"><button mat-button>GitHub</button></a>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of menuItems" routerLink="{{item.route}}" (click)="sidenav.close()">{{item.text}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
