.main-container {
  text-align: center;

  .picture-div {
    border-radius: 50%;
    background-image: url("../../assets/jeff.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  mat-card {
    margin: 10px;
  }

  .about {
    line-height: 2;
  }

  .skills {
    display: flex;
    .skills-div {
      text-align: center;
      width: 50%;
      .skill-item {
        padding: 4px;
        font-size: 16px;
      }
    }
  }

  .info-link {
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
  }
}
